@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

:root {
  --font-inter: "Inter", serif;
  --font-playfair-display: "Playfair Display", serif;
  --font-mulish: "Mulish", serif;
  --main-color: #FB8F1D;
  --second-color: #B8BECD;
  --text-color-black: #202336;
  --text-color-second: #7D7987;
  --text-color-white: #fff;
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}

.burger {
  display: none;
}

.close {
  display: none;
}

.header {
  width: 100%;
  min-height: 70px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  z-index: 2;
}
.header__main-wrapp {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin: 0 auto;
  max-height: 634px;
}
@media (max-width: 991px) {
  .header__main-wrapp {
    width: auto;
    height: auto;
  }
}
.header .logo {
  max-width: 42px;
  max-height: 42px;
  overflow: hidden;
}
.header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .header__wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1020px;
  width: 100%;
}
.header .header__wrapp .main__menu {
  display: flex;
  align-items: center;
  max-width: 350px;
  width: 100%;
}
.header .header__wrapp .main__menu ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header .header__wrapp .main__menu ul a {
  font-family: var(--font-inter);
  font-weight: var(--medium);
  font-size: 16px;
  color: var(--text-color-second);
}
.header .header__wrapp .main__menu ul a:hover {
  transition: 0.6s;
  color: var(--text-color-black);
}
.header .header__wrapp .btn__wrapp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 285px;
  width: 100%;
  gap: 16px;
}
.header .header__wrapp .btn__wrapp .login__btn {
  font-family: var(--font-inter);
  font-weight: var(--medium);
  font-size: 15px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background: transparent;
  border-radius: 8px;
  outline: none;
  padding: 11px 46px;
  cursor: pointer;
  transition: 0.6s;
}
.header .header__wrapp .btn__wrapp .register__btn {
  font-family: var(--font-inter);
  font-weight: var(--medium);
  font-size: 15px;
  background: var(--main-color);
  color: var(--text-color-white);
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  padding: 11px 37px;
  cursor: pointer;
  transition: 0.6s;
}
.header .header__wrapp .btn__wrapp .login__btn:hover {
  background: var(--main-color);
  color: var(--text-color-white);
}
.header .header__wrapp .btn__wrapp .register__btn:hover {
  background: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 11px 36px;
}

.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.explore__wrapp-main {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  max-height: 540px;
}
@media (max-width: 991px) {
  .explore__wrapp-main {
    width: auto;
    height: auto;
  }
}
.explore__wrapp-left {
  max-width: 475px;
}
.explore__wrapp-left form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 26px 0 0 0;
}
.explore__wrapp-left form input {
  padding: 18px 5px 18px 9px;
  border: 1px solid var(--second-color);
  border-radius: 6px;
  font-family: var(--font-inter);
  font-weight: var(--regular);
  font-size: 15px;
  color: var(--second-color);
  outline: none;
}
.explore__wrapp-left form input::-moz-placeholder {
  font-family: var(--font-inter);
  font-weight: var(--regular);
  font-size: 15px;
  color: var(--second-color);
}
.explore__wrapp-left form input::placeholder {
  font-family: var(--font-inter);
  font-weight: var(--regular);
  font-size: 15px;
  color: var(--second-color);
}
.explore__wrapp-left form .date {
  padding: 17px 60px 17px 31px;
}
.explore__wrapp-left form button {
  font-family: var(--font-mulish);
  font-weight: var(--bold);
  font-size: 17px;
  color: var(--text-color-white);
  background: var(--main-color);
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  padding: 15px 60px;
  transition: 0.6s;
  cursor: pointer;
}
.explore__wrapp-left form button:hover {
  background: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.explore__wrapp-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.explore__wrapp-text h1 {
  font-family: var(--font-playfair-display);
  font-weight: var(--bold);
  font-size: 54px;
  color: var(--text-color-black);
}
.explore__wrapp-text p {
  font-family: var(--font-inter);
  font-weight: var(--semi-bold);
  font-size: 22px;
  color: var(--text-color-black);
  position: relative;
  padding: 0 0 20px 0;
}
.explore__wrapp-text p:after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: var(--text-color-black);
}
.explore__wrapp-right {
  max-width: 480px;
  max-height: inherit;
}
.explore__wrapp-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.way {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.way__wrapp-main {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-height: 634px;
}
@media (max-width: 991px) {
  .way__wrapp-main {
    width: auto;
    height: auto;
  }
}
.way__wrapp-left {
  max-width: 480px;
  max-height: inherit;
  overflow: hidden;
}
.way__wrapp-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.way__wrapp-right {
  max-width: 481px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.way__wrapp-right h2 {
  font-family: var(--font-playfair-display);
  font-weight: var(--bold);
  font-size: 36px;
  color: var(--text-color-black);
  margin: 0 0 20px 0;
  line-height: 50px;
}
.way__wrapp-right p {
  font-family: var(--font-mulish);
  font-weight: var(--light);
  font-size: 17px;
  color: var(--text-color-second);
  line-height: 30px;
}
.way__wrapp-right a {
  transition: 0.6s;
  font-family: var(--font-inter);
  font-weight: var(--semi-bold);
  font-size: 16px;
  color: var(--text-color-white);
  background: var(--main-color);
  border-radius: 8px;
  padding: 14px 39px;
  display: inline-block;
  margin: 39px 0 0 0;
}

.featured {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.featured__wrapp-main {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 634px;
}
@media (max-width: 991px) {
  .featured__wrapp-main {
    width: auto;
    height: auto;
  }
}
.featured__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 55px 0;
}
.featured__top h2 {
  font-family: var(--font-playfair-display);
  font-weight: var(--bold);
  font-size: 36px;
  color: var(--text-color-black);
}
.featured__top a {
  font-family: var(--font-inter);
  font-weight: var(--semi-bold);
  font-size: 17px;
  color: var(--main-color);
}
.featured__top a img {
  margin: 0 0 0 11px;
}
.featured__wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.featured__wrapper {
  position: relative;
  border-radius: 8px;
}
.featured__text-wrapp {
  border-top-right-radius: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--text-color-white);
  padding: 16px 22px 0px 0px;
}
.featured__text-wrapp h3 {
  font-family: var(--font-inter);
  font-weight: var(--semi-bold);
  font-size: 17px;
  color: var(--text-color-black);
}
.featured__text-wrapp p {
  font-family: var(--font-inter);
  font-weight: var(--semi-bold);
  font-size: 15px;
  color: var(--text-color-second);
}
.featured__img {
  max-width: 261px;
  max-height: 330px;
  overflow: hidden;
  border-radius: 8px;
}
.featured__img img {
  width: 100%;
  height: 100%;
}

.guides {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.guides__wrapp-main {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-height: 634px;
}
@media (max-width: 991px) {
  .guides__wrapp-main {
    width: auto;
    height: auto;
  }
}
.guides__wrapp-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 450px;
}
.guides__wrapp-left h2 {
  font-family: var(--font-playfair-display);
  font-weight: var(--bold);
  font-size: 36px;
  color: var(--text-color-black);
  line-height: 50px;
  margin: 0 0 20px 0;
}
.guides__wrapp-left p {
  font-family: var(--font-mulish);
  font-weight: var(--light);
  font-size: 17px;
  color: var(--text-color-second);
  line-height: 30px;
}
.guides__wrapp-left button {
  font-family: var(--font-inter);
  font-weight: var(--semi-bold);
  font-size: 16px;
  color: var(--text-color-white);
  border: 1px solid transparent;
  outline: none;
  border-radius: 8px;
  background: var(--main-color);
  display: inline-block;
  transition: 0.6s;
  padding: 13px 43px;
  cursor: pointer;
  margin: 39px 0 0 0;
}
.guides__wrapp-left button:hover {
  border: 1px solid var(--main-color);
  background: transparent;
  color: var(--main-color);
}
.guides__wrapp-right {
  max-width: 480px;
  max-height: inherit;
  overflow: hidden;
}
.guides__wrapp-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.testimonials__wrapp-main {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 540px;
}
@media (max-width: 991px) {
  .testimonials__wrapp-main {
    width: auto;
    height: auto;
  }
}
.testimonials__title {
  font-family: var(--font-playfair-display);
  font-weight: var(--bold);
  font-size: 36px;
  line-height: 50px;
  color: var(--text-color-black);
}
.testimonials .swiper {
  margin: 0;
}
.testimonials .swiper .swiper-button-next::after, .testimonials .swiper .swiper-button-prev::after {
  display: none;
}
.testimonials .swiper .swiper-button-next:hover, .testimonials .swiper .swiper-button-prev:hover {
  transition: 0.6s;
  filter: invert(1);
}
.testimonials .swiper .swiper-button-next, .testimonials .swiper .swiper-button-prev {
  position: relative;
  display: flex;
}
.testimonials .swiper__btn-wrapp {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  max-width: 132px;
  width: 100%;
  display: flex;
  gap: 52px;
  justify-content: flex-end;
  height: 60px;
  background: var(--text-color-white);
  border-top-left-radius: 8px;
}
.testimonials .swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials .swiper .star__wrapp {
  display: flex;
  max-width: 190px;
  justify-content: space-between;
  align-items: center;
}
.testimonials .swiper__wrapp-left {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}
.testimonials .swiper__content {
  font-family: var(--font-mulish);
  font-weight: var(--regular);
  font-size: 24px;
  color: var(--text-color-black);
  margin: 30px 0 40px 0;
  line-height: 36px;
}
.testimonials .swiper__author-wrapp h2 {
  font-family: var(--font-inter);
  font-weight: var(--bold);
  font-size: 22px;
  color: var(--text-color-black);
  line-height: 14px;
}
.testimonials .swiper__author-wrapp p {
  font-family: var(--font-inter);
  font-weight: var(--regular);
  font-size: 18px;
  color: var(--text-color-black);
  line-height: 48px;
}
.testimonials .swiper__wrapp-right {
  max-width: 310px;
  max-height: inherit;
  border-radius: 8px;
  overflow: hidden;
}
.testimonials .swiper__wrapp-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.trending {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.trending__wrapp-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
  max-height: 634px;
}
@media (max-width: 991px) {
  .trending__wrapp-main {
    width: auto;
    height: auto;
  }
}
.trending__wrapp-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 18px 0;
}
.trending__wrapp-top h2 {
  font-family: var(--font-playfair-display);
  font-weight: var(--bold);
  font-size: 36px;
  color: var(--text-color-black);
  line-height: 50px;
}
.trending__wrapp-top a {
  font-family: var(--font-inter);
  font-weight: var(--semi-bold);
  font-size: 17px;
  color: var(--main-color);
  line-height: 60px;
}
.trending__wrapp-top a img {
  margin: 0 0 0 11px;
}
.trending__wrapp-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.trending__img {
  max-width: 315px;
  max-height: 170px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}
.trending__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.trending__wrapper {
  max-width: 315px;
}
.trending__wrapper h2 {
  font-family: var(--font-inter);
  font-weight: var(--bold);
  font-size: 19px;
  color: var(--text-color-black);
  line-height: 30px;
  margin: 15px 0;
}
.trending__wrapper p {
  font-family: var(--font-inter);
  font-weight: var(--regular);
  font-size: 15px;
  color: var(--text-color-second);
  line-height: 26px;
}
.trending__wrapper a {
  font-family: var(--font-inter);
  font-weight: var(--semi-bold);
  font-size: 15px;
  color: var(--main-color);
  line-height: 28px;
  margin: 23px 0 0 0;
  display: inline-block;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9F9FB;
  height: 100vh;
}
.footer__wrapp-main {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 634px;
}
@media (max-width: 991px) {
  .footer__wrapp-main {
    width: auto;
    height: auto;
  }
}
.footer__wrapp-top {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-bottom: 1px solid #C4C4C4;
  padding: 50px 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.footer__menu p {
  font-family: var(--font-mulish);
  font-weight: var(--bold);
  font-size: 19px;
  color: var(--text-color-black);
  line-height: 60px;
}
.footer__menu ul a {
  font-family: var(--font-mulish);
  font-weight: var(--light);
  font-size: 18px;
  color: var(--text-color-second);
  line-height: 38px;
}
.footer__left-content {
  max-width: 360px;
}
.footer__left-content .logo {
  max-width: 42px;
  max-height: 42px;
  overflow: hidden;
  margin: 0 0 30px 0;
}
.footer__left-content .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__left-content p {
  font-family: var(--font-mulish);
  font-weight: var(--light);
  font-size: 18px;
  color: var(--second-color);
  line-height: 28px;
}
.footer .wrapp__social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 34px;
  padding: 30px 0;
}

@media (max-width: 991px) {
  body {
    overflow: auto;
    overflow-x: hidden;
  }
}
@media (min-width: 991px) {
  .way__wrapp-main,
  .featured__wrapp-main,
  .guides__wrapp-main,
  .testimonials__wrapp-main,
  .trending__wrapp-main,
  .footer__wrapp-main,
  .explore__wrapp-main {
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
  }
  .way__wrapp-main.visible,
  .featured__wrapp-main.visible,
  .guides__wrapp-main.visible,
  .testimonials__wrapp-main.visible,
  .trending__wrapp-main.visible,
  .footer__wrapp-main.visible,
  .explore__wrapp-main.visible {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 991px) {
  .burger {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: var(--main-color);
    border-radius: 8px;
  }
  .close {
    display: block;
  }
  .header {
    position: inherit;
    padding: 10px;
    width: auto;
  }
  .header__main-wrapp {
    width: 100%;
    justify-content: flex-start;
    gap: 15px;
  }
  .header .header__wrapp {
    max-width: 640px;
  }
  .header .header__wrapp .btn__wrapp {
    max-width: 233px;
    gap: 10px;
    justify-content: normal;
  }
  .header .header__wrapp .login__btn {
    padding: 6px 33px !important;
  }
  .header .header__wrapp .register__btn {
    padding: 6px 25px !important;
  }
  .header .header__wrapp .main__menu {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    height: 102vh;
    background: rgba(251, 143, 29, 0.87);
    transform: translate(100%);
    transition: 0.6s;
    z-index: 1;
  }
  .header .header__wrapp .main__menu .close {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--main-color);
    border-radius: 8px;
  }
  .header .header__wrapp .main__menu ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
  .header .header__wrapp .main__menu ul a {
    color: var(--text-color-white);
  }
  .header .header__wrapp .opened__main-menu {
    transform: translate(0);
  }
  .way__wrapp-main,
  .featured__wrapp-main,
  .guides__wrapp-main,
  .testimonials__wrapp-main,
  .trending__wrapp-main,
  .footer__wrapp-main,
  .explore__wrapp-main {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
  }
  .explore,
  .way,
  .featured,
  .guides,
  .testimonials,
  .trending,
  .footer {
    height: auto;
    padding: 25px 10px;
  }
  .testimonials {
    display: none;
  }
  .explore {
    padding-top: inherit !important;
    height: auto;
  }
  .explore__wrapp-left {
    max-width: inherit;
  }
  .explore__wrapp-right {
    display: none;
  }
  .way__wrapp-left {
    display: none;
  }
  .way__wrapp-right {
    max-width: inherit;
  }
  .featured__img {
    max-width: 208px;
  }
  .guides__wrapp-left {
    max-width: inherit;
  }
  .guides__wrapp-right {
    display: none;
  }
  .trending__wrapp-bottom {
    gap: 10px;
  }
  .trending__wrapper {
    max-width: 230px;
  }
  .trending__wrapper h2 {
    font-size: 16px;
    line-height: 23px;
    margin: 6px 0;
  }
  .trending__wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  .trending__wrapper a {
    margin: 6px 0 0 0;
  }
  .footer__menu {
    display: none;
  }
  .footer__wrapp-main {
    width: 100%;
  }
  .footer__left-content {
    max-width: inherit;
  }
  .destinations,
  .about,
  .partners {
    padding-top: inherit !important;
  }
}
@media (max-width: 489px) {
  .explore__wrapp-text h1 {
    font-size: 27px;
  }
  .explore__wrapp-text p {
    font-size: 16px;
    padding: 0;
  }
  .explore__wrapp-text p::after {
    display: none;
  }
  .explore__wrapp-left form input {
    padding: 10px 3px 10px 5px;
  }
  .explore__wrapp-left form .date {
    padding: 9px 54px 9px 31px;
  }
  .way__wrapp-right h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .way__wrapp-right p {
    font-size: 15px;
    line-height: 20px;
  }
  .featured__wrapp {
    gap: 15px;
  }
  .featured__top {
    margin: 10px 0;
  }
  .featured__top h2 {
    font-size: 25px;
  }
  .featured__top a {
    font-size: 15x;
  }
  .featured .featured__img {
    max-width: 154px;
  }
  .guides__wrapp-left h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .guides__wrapp-left p {
    font-size: 15px;
    line-height: 20px;
  }
  .trending__wrapp-main {
    max-height: inherit;
  }
  .trending__wrapp-top h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .trending__wrapp-top a {
    font-size: 15px;
    line-height: 20px;
  }
  .trending__wrapper {
    max-width: 160px;
  }
  .trending__wrapper h2 {
    font-size: 14px;
    line-height: 18px;
  }
  .trending__wrapper p {
    line-height: 16px;
  }
  .trending__wrapper a {
    line-height: 17px;
  }
  .footer__wrapp-top {
    width: auto;
  }
}/*# sourceMappingURL=App.css.map */